---
import Layout from "@/layouts/layout.astro";
import { URLS } from "@/content/urls";
---

<Layout title="Music">
  <div class="w-full space-y-16">
    <h1 class="animate-fade-in-up opacity-0" style="animation-delay: 0s;">
      Music
    </h1>
    <section
      class="animate-fade-in-up space-y-4 pb-8 opacity-0 md:pb-12"
      style="animation-delay: 0.05s;"
    >
      <h2 class="text-lg font-medium">Max Fung</h2>
      <ul class="space-y-2">
        <li>
          <a
            href={URLS.SPOTIFY_MAX_FUNG.url}
            target="_blank"
            rel="noopener noreferrer"
          >
            Spotify
          </a>
        </li>
        <li>
          <a
            href={URLS.APPLE_MUSIC_MAX_FUNG.url}
            target="_blank"
            rel="noopener noreferrer"
          >
            Apple Music
          </a>
        </li>
        <li>
          <a
            href={URLS.YOUTUBE_MUSIC_MAX_FUNG.url}
            target="_blank"
            rel="noopener noreferrer"
          >
            YouTube Music
          </a>
        </li>
      </ul>
    </section>
  </div>
</Layout>
