/* switzer-variable */
@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

/* switzer-variable-italic */
@font-face {
  font-family: "Switzer";
  src: url("/fonts/switzer/Switzer-VariableItalic.woff2") format("woff2");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}
