---
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <main class="mb-24 flex w-full flex-col items-center justify-center gap-8">
    <div class="mx-auto flex w-full flex-col gap-8 px-4">
      <h1
        class="-mt-[0.1em] text-[50vw] leading-none font-medium tracking-tighter"
      >
        404
      </h1>
      <div
        class="flex w-full flex-col gap-2 sm:flex-row sm:items-center sm:justify-between sm:gap-4"
      >
        <p class="text-lg leading-tight">
          Look for what you notice but no one else sees.
        </p>
        <p class="text-muted-foreground">Rick Rubin</p>
      </div>
    </div>
  </main>
</Layout>
