---
import WritingTable from "@/components/writing/writing-table.astro";
import { formatCollection } from "@/lib/format-collection";
import { getWritings } from "@/lib/get-collection";
import Layout from "@/layouts/layout.astro";

const writings = await getWritings();
const filteredWritings = formatCollection(writings, {
  sortBy: "date",
  sortOrder: "desc",
});
---

<Layout title="Writing">
  <div class="w-full space-y-12">
    <h1 class="animate-fade-in-up opacity-0" style="animation-delay: 0s;">
      Writing
    </h1>
    <section
      class="animate-fade-in-up pb-12 opacity-0 md:pb-16"
      style="animation-delay: 0.05s;"
    >
      <WritingTable writings={filteredWritings} />
    </section>
  </div>
</Layout>
