---
import { ArrowLeft, ArrowRight } from "@lucide/astro";

interface Props {
  prev?: {
    label: string;
    href: string;
  };
  next?: {
    label: string;
    href: string;
  };
}

const { prev, next } = Astro.props;
---

<nav class="grid w-full grid-cols-1 gap-4 md:grid-cols-2">
  {
    prev ? (
      <a
        href={prev.href}
        class="group flex items-center gap-3 py-3 transition-colors"
      >
        <span
          class="text-muted-foreground group-hover:text-accent transition-all group-hover:-translate-x-1"
          aria-hidden="true"
        >
          <ArrowLeft />
        </span>
        <div class="flex flex-col">
          <span class="text-muted-foreground text-sm">Previous</span>
          <span class="group-hover:text-accent line-clamp-1 text-base font-medium transition-colors">
            {prev.label}
          </span>
        </div>
      </a>
    ) : (
      <div class="hidden md:block" />
    )
  }

  {
    next ? (
      <a
        href={next.href}
        class="group flex flex-row-reverse items-center justify-end gap-3 py-3 transition-colors md:col-start-2 md:flex-row"
      >
        <div class="flex flex-col md:items-end">
          <span class="text-muted-foreground text-sm">Next</span>
          <span class="group-hover:text-accent line-clamp-1 text-base font-medium transition-colors">
            {next.label}
          </span>
        </div>
        <span
          class="text-muted-foreground group-hover:text-accent transition-all group-hover:translate-x-1"
          aria-hidden="true"
        >
          <ArrowRight />
        </span>
      </a>
    ) : (
      <div class="hidden md:block" />
    )
  }
</nav>
